@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  
}

.icon__background {
  background-color: #2F2A2F;
  cursor: pointer;
}

.todo__card__main {
  border-radius: 10px;
  width: 480px;
  min-height: 350px;
}

 /* Radio Color button */

.color,
.color input {
  position: relative;
  overflow: hidden;
  
  width: 35px;
  height: 35px;
  
  border-radius: 50%;
}

.color {
  display: inline-block;
  margin: 3px;
}

.color input {
  position: absolute;
  top: 0;
  left: 0;
  
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.color i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-image: url(http://cdn.nicolapps.ch/images/uploads/1478199301.png);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  
  opacity: 0;
  transition: .15s opacity ease-in-out;
}

.color input:checked + i {
  opacity: 1;
}


/* Modal CSS */

.modal {
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5%
}

/* search bar */

.search__bar {
  border: none;
  border-bottom: 1px solid #E8E9ED;
}

.search__bar:focus {
  outline: none;
  border-bottom: 1px solid #2F2A2F;
  transition:all .4s ease-in-out
} 

.search__bar__div {
  position:relative;
}
.search__bar__div i {
  position:absolute;
  left: 0;
}
